{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  },
  "rules": {
    "quotes": ["error", "single"],
    "@typescript-eslint/consistent-indexed-object-style": ["warn", "record"],
    "react/display-name": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/prop-types": "off",
    "no-console": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-empty-pattern": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-this-alias": "off"
  }

  // "rules": {
  //     "react/jsx-indent" : ["error", 4],
  //     "react/function-component-definition": [2, {"namedComponents": "function-declaration" }],
  //     "react/jsx-filename-extension":[1, { "extensions": [".tsx"]}],
  //         "linebreak-style": 0,
  //         "indent": [
  //             2,
  //             4,
  //             {
  //                 "SwitchCase": 1
  //             }
  //         ],
  //         "max-len": [2, { "code": 165, "ignoreUrls": true }],
  //         "radix": ["error", "as-needed"],
  //         "object-shorthand": ["error", "methods"],
  //         "no-unused-expressions": [
  //             "error",
  //             {
  //                 "allowShortCircuit": true
  //             }
  //         ],
  //         "no-bitwise": [
  //             "error",
  //             {
  //                 "allow": ["~"]
  //             }
  //         ],
  //         "import/extensions": 0,
  //         "import/no-unresolved": 0,
  //         "import/prefer-default-export": 0,
  //         "import/no-dynamic-require": 0,
  //         "import/order":1,
  //         "object-curly-newline": 0,
  //         "consistent-return": 0,
  //         "no-unused-vars": 0,
  //         "no-useless-constructor": 0,
  //         "no-empty-function": 1,
  //         "class-methods-use-this": 0,
  //         "import/no-extraneous-dependencies": 0,
  //         "@typescript-eslint/no-unused-vars": 2,
  //         "@typescript-eslint/no-useless-constructor": 2,
  //         "no-restricted-syntax": 0,
  //         "no-param-reassign": 0,
  //         "no-return-await": 0,
  //         "no-use-before-define": 0,
  //         "no-await-in-loop": 0,
  //         "no-continue": 0,
  //         "no-plusplus": 0,
  //         "no-debugger": 1,
  //         "no-console": 0,
  //         "padding-line-between-statements": [
  //             "warn",
  //             { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
  //             { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
  //             { "blankLine": "always", "prev": "*", "next": "return" },
  //             { "blankLine": "always", "prev": "block-like", "next": "*" },
  //             { "blankLine": "always", "prev": "block", "next": "*" },
  //             { "blankLine": "always", "prev": "function", "next": "*" }
  //         ]
  //     }
}
